flask
flask-mysqldb
mysql-connector-python
flask-cors
cryptography
pycryptodome
Cython==0.29.33 
virtualenv 
buildozer 
setuptools
kivy
kivymd
buildozer
flask
Werkzeug
aioflask
hypercorn
simple-websocket
qrcode[pil]
websockets
xmltodict
requests
